.patient-details-panel {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  
  .profile-pic-large {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .info-button {
    background-color: #17a2b8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  